@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Pixelify+Sans&display=swap');

:root{
    --cor-primaria: #0d0d0d;
    --cor-secundaria: #f29bbb;
    --cor-terciaria: #F2F2F2;
    --cor-hover: #272727;
    --font-primaria: 'Krona One', sans-serif;  
    --font-secundaria: 'Montserrat', sans-serif;
    --font-pixel: 'Pixelify Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80PX;
}

.cabecalho__menu__home{
    font-size: 1.5rem;
    font-family: var(--font-pixel);
    color: var(--cor-secundaria);
    text-decoration: none ;
}

.cabecalho__menu__sobre_mim{
    font-size: 1.5rem;
    font-family: var(--font-pixel);
    color: var(--cor-secundaria);
    text-decoration: none ;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria) ;
    color: var(--cor-terciaria) ;
}

.titulo-destaque{
    
    color: var(--cor-secundaria); 
}


.Front-End{
    font-size: 1.5rem;
    font-family: var(--font-pixel);
    color: var(--cor-secundaria);
}
.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    
    
}
.apresentacao__conteudo {
    width: 50%;
        display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.apresentacao__conteudo__titulo {
    font-family: var(--font-primaria);   
    font-size: 2.25rem;
}
.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
   }
.apresentacao__conteudo__botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:2rem       ;
}
.apresentacao__botoes__botao{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0%;
    color: var(--cor-terciaria) ;
    border: 2PX solid var(--cor-secundaria);
    width: 70%;
    text-align: center;
    border-radius: 8px;
    font-family: var(--font-secundaria); 
    font-weight: 600;
    font-size:  1.5rem;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    text-decoration: none;
}

.apresentacao__botoes__botao:hover{
    background-color: var(--cor-hover) ;

}
.apresentacao__imagem{
    width: 50%;
}

.rodape{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 24px;
    color: var(--cor-primaria) ;
    background-color: var(--cor-secundaria);
    text-align: center;
}

@media (max-width: 1380px){
    .cabecalho{
        padding: 10% 0% 0% ;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;   
        padding: 5%;   
    }

    .apresentacao__conteudo{
        width: auto;
    }
    
}
